#header_custom_area {
	color: red;
	height: 15px;
	position: absolute;
	top: 17px;
	width: 500px;
	left: 450px;
}
#header_custom_area div {
	float: left;
	margin: 0px 31px 0px 0px;
}

#filial-special {
	margin-bottom: 25px;
}