.ui-text-editor__text-bold {
	font-weight: var(--ui-font-weight-bold);
}

.ui-text-editor__text-code {

}

.ui-text-editor__text-italic {
	font-style: italic;
}

.ui-text-editor__text-underline {
	text-decoration: var(--ui-text-decoration-line-underline);
}

.ui-text-editor__text-strikethrough {
	text-decoration: var(--ui-text-decoration-line-line-through);
}

.ui-text-editor__text-underline-strikethrough {
	text-decoration: var(--ui-text-decoration-line-underline) var(--ui-text-decoration-line-line-through);
}

.ui-text-editor__text-subscript {

}

.ui-text-editor__text-superscript {

}
